@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@if (ViewBag.Error != null)
{
    <script type="text/javascript">
    alert('@ViewBag.Error')
    </script>
}
@if (TempData["UsuarioCompleto"] != null)
{
    <script type="text/javascript">
        alert('@TempData["UsuarioCompleto"].ToString()')
    </script>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />

<div id="Inicio">
    <div class="align-content-center" style="padding-top:35vh;padding-left:30vw;">
        <div style="width:40vw;height:25vh;background:white;box-shadow:rgba(0,0,0,0.4) 0px 0px 15px;text-align:center;padding-top:7vh;font-family: 'Jost', sans-serif;font-size:50px;border-radius:7px;">Bienvenidos!</div>
    </div>
</div>
<!--Comidas!-->
<div id="Comidas">
    <div class="contenedorletras">
        Encuentra los mejores antojitos tipicos de nuestro pais!
        como pupusas, yuca,
        nuegados, torrejas, atoles...
        <br />
        Simplemente lo mejor de lo mejor cerca de ti!
    </div>
    <div class="contenedoracceder">
        @Html.ActionLink("Buscar Lugares Cerca de mi", "VerEstablecimientos", "Cliente", null, new { @class = "btn btn-inline-primary", style = "cursor:pointer" })

    </div>
</div>
