
@{
    ViewBag.Title = "Administradores";
    Layout = "~/Views/Shared/_Administradores.cshtml";
}

  
    
    <div style="width:100%;display:inline;padding:0.1px;text-align:center">
        
            <div class="card" style="width: 20vw;margin-left:200px;margin-top:30vh;float:left">
                <div class="card-img-top" style="text-align:center;padding-top:50px"><i class="fa fa-map" style="font-size:50px;"></i></div>

                <div class="card-body">
                    <h5 class="card-title">Establecimientos</h5>
                    <p class="card-text">Registre, modifique o elimine los establecimientos de comida</p>
                    @Html.ActionLink("Establecimientos", "Establecimientos", "Administrador", new { @class = "btn  btn-dark" })
                    <a href="" class="btn  btn-dark">Ver Establecimientos</a>
                </div>
            </div>
            <div class="card" style="width: 20vw;margin-left:50px;margin-top:30vh;float:left">
                <div class="card-img-top" style="text-align:center;padding-top:50px"><i class="fa fa-map" style="font-size:50px;"></i></div>

                <div class="card-body">
                    <h5 class="card-title">Establecimientos</h5>
                    <p class="card-text">Registre, modifique o elimine los establecimientos de comida</p>
                    <a href="#" class="btn btn-dark">Ver Establecimientos</a>
                </div>
            </div>
            <div class="card" style="width: 20vw;margin-left:50px;margin-top:30vh;float:left">
                <div class="card-img-top" style="text-align:center;padding-top:50px"><i class="fa fa-map" style="font-size:50px;"></i></div>

                <div class="card-body">
                    <h5 class="card-title">Establecimientos</h5>
                    <p class="card-text">Registre, modifique o elimine los establecimientos de comida</p>
                    <a href="#" class="btn btn-dark">Ver Establecimientos</a>
                </div>
            </div>
       
    </div>

